
<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <a href="https://www.facebook.com/profile.php?id=61578556804952"><i class="fa-brands fa-square-facebook"></i></a>
            <a href="https://www.instagram.com/nestera_render/"><i class="fa-brands fa-square-instagram"></i></a>
            <a href="https://www.linkedin.com/in/nestera-org-496523376/"><i class="fa-brands fa-linkedin"></i></a>
        </div>
        <div class="f-info-brand"> &copy; Nestera Private limited</div>
        <div class="f-info-links">
            <a href="/privacy"> Privacy</a>
            <a href="/terms">Terms</a>
            <a href=""></a>
        </div>
    </div>

</footer>