

<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><i class="fa-regular fa-compass"></i></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="btn " href="/">Explore</a>
      </div>
    </div>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ms-auto">
        <a class="btn " href="/listings/new">Airbnb your home</a>
        <% if(!curUser) { %>
        <a class="btn btn-outline-danger ms-2 me-2" href="/signup">Sign Up</a> 
        <a class="btn btn-outline-danger" href="/login">Log in</a>
        <% } %>
        <% if(curUser) {%>
        <a class="btn btn-outline-danger" href="/logout">Log out</a>
        <% } %>
      </div>
    </div>
  </div>
</nav>