<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wanderlust</title>
</head>
<body>
    <form method="post" action="/listings">
        <input name="title" type="text"        placeholder="Enter  title"> 
        <br> <br>
        <textarea name="description"  type="text" placeholder="Enter a attractive description "></textarea>
        <br> <br>
        <input name="image" type="text" placeholder="Your image url/link">
        <br> <br>
        <input name="price" type="number" placeholder="Enter your price"> 
        <br> <br>
        <input name="location"  type="text"    placeholder="Enter your location">
        <br> <br>
        <input name="country" type="text"   placeholder="Enter your country">  
        <br> <br>
        <button>Create</button>
    </form>
</body>
</html>